/* You can add global styles to this file, and also import other style files */
.card,
.form {
  margin-top: 1rem;
}

.state-0 {
  color: #E40D0D;
}

.state-1 {
  color: #220DE4;
}

.state-2 {
  color: #0DE41F;
}